.marker-cluster-small {
    background-color: transparent;
}
.marker-cluster-small div {
    background-color: #0092d0;
    color: #fff;
}

.marker-cluster-medium {
    background-color: transparent;
}
.marker-cluster-medium div {
    background-color: #006390;
    color: #fff;
}

.marker-cluster-large {
    background-color: transparent;
}
.marker-cluster-large div {
    background-color: #30373d;
    color: #fff;
}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: transparent;
}
.leaflet-oldie .marker-cluster-small div {
    background-color: #0092d0;
    color: #fff;
}

.leaflet-oldie .marker-cluster-medium {
    background-color: transparent;
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: #006390;
    color: #fff;
}

.leaflet-oldie .marker-cluster-large {
    background-color: transparent;
}
.leaflet-oldie .marker-cluster-large div {
    background-color: #30373d;
    color: #fff;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    /*font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
}
.marker-cluster span {
    line-height: 30px;
}
