/* 
    Customizzazioni di design dell'offcanvas
*/

.Offcanvas{
    a{
        text-decoration: none;
        color: $offcanvas-links-color;
    }
    a:hover{
        text-decoration: none;
    }
    
    .Offcanvas-content{
        background-color: $offcanvas-background-color;
        
        .Linklist{
            a{
                color: white !important;
            }
            
            .is-current{
                a{
                    background-color: #039BE5 !important;
                }
            }
            
            .Treeview-handler--default:after, .Treeview-handler--standalone{
                left: 0 !important;
            }
        }
    }
}
