/**
 * Ricerca generale
 */

.FullSearch{
    .SearchResult{
        font-style: italic;
    }
    .SearchItem{
        .SearchItemDate{
            font-size: 1.3rem;
            font-weight: bold;
        }
        .SearchItemLink{
            
        }
    }
}

